{% extends 'algo_pages/base.html' %}

{% block main_area %}
    <article id="top" class="wrapper style1">
            <div class="container">
                <div class="col-3">
                    <div class="col-1 aln-center">
                        <div class="aln-center" align="center">
                            <h2>✏️ 오늘의 알고리즘 ️️</h2>
                        </div>
                        <div>
                            <section class="box style3">
                                <span></span>
                                <h3>{{ today_problem }}</h3>
                                {% for t in tags%}
                                    <i class = "fas fa-hashtag"> {{ t }} &nbsp</i>
                                {% endfor %}
                                <p>지금까지 이 문제를 푼 사람은 <span class="bottom-line"> 총 3명 </span>이에요!</p>
                                <a href="https://www.acmicpc.net/problem/{{ today_problem.number }}" class="custom-btn btn-16">👉 풀러 가기 </a>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}