*, *:before, *:after {
    box-sizing: inherit;
}

.custom-btn {
  text-decoration-line: none;
  margin: 20px;
  width: 160px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 16 */
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.bottom-line {
background: linear-gradient(to top, #ffdbdf 50%, transparent 50%);
}

.header {
    display: flex;
    padding: 15px 20px;  /* 15 on the top/bottom, 20 on the left/right */
    justify-content: space-between;

    position: sticky;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    justify-content: space-evenly;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__left > img {
    height: 40px; /* exact measurement with the actual website you are cloning */

}

.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root {
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
    color: #f87e87;
}

.header__option--active > .MuiSvgIcon-root {
    color: #f87e87;
}

.header__option--active {
    border-bottom: 4px solid #f87e87
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;  /* 0 on the top/bottom, 30 on the left/right */
    cursor: pointer;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 30px;
    border-bottom: none;
}

.header__info {     /* avatar and name */
    display: flex;
    align-items: center;
}

.header__info > h4 {
    margin-left: 10px;
}

.header__right {
    display: flex;
}