{% extends 'algo_pages/base.html' %}
{% load static %}
{% block css_area %}
    <link rel="stylesheet" href="{% static 'assets/css/button.css' %}">
{% endblock %}

{% block main_area %}
<article class="wrapper style3">
    <div class="container">

    <br/>
    <form method="post" enctype="multipart/form-data" style="color: black">{% csrf_token %}
        <table>
            {{form}}
        </table>
        <button type="submit" class="custom-btn btn-16"> 글 작성 </button>
    </form>
    {{ form.media }}
    </div>
</article>
{% endblock %}