{% extends 'algo_pages/base.html' %}
{% load static %}
{% load pybo_filter %}
{% block css_area %}
    <link rel="stylesheet" href="{% static 'assets/css/button.css' %}">
{% endblock %}
{% block main_area %}
    <!-- Wrapper -->
        <div class="outer-div wrapper-detail style3">
            <!-- Main -->
                <div>
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2>{{ post.title }}</h2>
                                     {% if post.tag.exists %}
                                        {% for tag in post.tag.iterator %}
                                            <a class="tag" href = {{ tag.get_absolute_url }}>   <i class = "fas fa-hashtag"></i>{{ tag }}</a>
                                        {% endfor %}
                                    {% endif %}
                            </div>
                            <div class="meta">
                                <time class="published">{{ post.created_at }}</time>
                                <a href="#" class="author"><span class="name">{{ post.author }}</span><img src="images/avatar.jpg" alt="" /></a>
                                 <br/>
                                 {% if user.is_authenticated and user == post.author%}
                                        <a class="update-btn btn-16" href="/algorithm/update/{{ post.pk }}" role="button">
                                                ✏️ 글 수정
                                        </a>
                                  {% endif %}
                            </div>
                        </header>
                        <p>{{ post.content|mark }}</p>
                        <footer>
                            <ul class="stats">
                                <li><a href="#">General</a></li>
                                <li><a href="#" class="icon solid fa-heart">28</a></li>
                                <li><a href="#" class="icon solid fa-comment">128</a></li>
                            </ul>
                        </footer>
                    </article>
                </div>
        </div>
</body>
{% endblock %}
