<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Algorithm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../static/assets/css/algorithm_page.css?ver=1.5" />
    <link rel="stylesheet" href="../../static/assets/css/button.css">
    <link rel="stylesheet" href="../../static/assets/css/algorithm_detail.css?ver=1.3">
{#    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">#}
</head>
<body class="is-preload">

    {% include 'algo_pages/nav.html' %}
    {% block main_area %}
    {% endblock %}
    <!-- Scripts -->
        <script src="../../static/assets/js/jquery.min.js"></script>
        <script src="../../static/assets/js/jquery.scrolly.min.js"></script>
        <script src="../../static/assets/js/browser.min.js"></script>
        <script src="../../static/assets/js/breakpoints.min.js"></script>
        <script src="../../static/assets/js/util.js"></script>
        <script src="../../static/assets/js/main.js"></script>
</body>
</html>