<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Algorithm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/algorithm_page.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/algorithm_page.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/algorithm_detail.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/seacrh.css' %}" media="screen">
    {% block css_area %}
    {% endblock %}
</head>
<body class="is-preload">
    {% include 'algo_pages/nav.html' %}
    {% block main_area %}
    {% endblock %}
        <script src="../../static/assets/js/jquery.min.js"></script>
        <script src="../../static/assets/js/jquery.scrolly.min.js"></script>
        <script src="../../static/assets/js/browser.min.js"></script>
        <script src="../../static/assets/js/breakpoints.min.js"></script>
        <script src="../../static/assets/js/util.js"></script>
        <script src="../../static/assets/js/main.js"></script>
</body>
</html>