<nav id="nav">
    <ul class="container">
        <li><a href="/today/"><i class="fas fa-sun"></i></a></li>
        <li></li>
        <li></li>
        <li><a href="/algorithm"><i class="fas fa-home"></i></a></li>
        <li></li>
        <li></li>
        <li><a href="/search"><i class="fas fa-search"></i></a></li>
        <li>
            {% if user.is_authenticated %}
                <a href="/logout"><i class="fas fa-user"></i></a>
                {% else %}
                <a href="/login"><i class="fas fa-user"></i></a>
            {% endif %}
        </li>
    </ul>
</nav>