{% extends 'algo_pages/base.html' %}
{% block main_area %}
<article id="work" class="wrapper style2">
    <div class="container">
        <header>
             <h2>다른 유저의 풀이를 검색해 보세요 😆</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="search-mode">
                    <input class="search-txt" name="searched">
                    <a class="search-btn" href="#"> <i class="fas fa-search"></i></a>
                </div>
            </form>
        </header>
        <div class="row aln-center">
        {% for post in posts %}
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    {% if post.head_image %}
                      <img class="image featured" src="{{ p.image.url }}" alt="">
                    {% else %}
                      <a href="{{ post.get_absolute_url }}" class="image featured"><img src="../../static/images/pic01.jpg" alt="" /></a>
                    {% endif %}
                    <h3>{{ post.title }}</h3>
                     {% if post.tag.exists %}
                        {% for tag in post.tag.iterator %}
                            <i class = "fas fa-hashtag"></i>
                            <a href = {{ tag.get_absolute_url }}> {{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                    <p>By. {{ post.author }}</p>
                </section>
            </div>
        {% endfor %}
        </div>
    </div>
</article>
{% endblock %}